services:
  go-judge:
    build: .
    image: my-go-judge
    command:
      [
        './go-judge',
        '-container-cred-start=1',
        '-seccomp-conf=/seccomp.yaml'
      ]
    privileged: true
    security_opt:
      - seccomp=unconfined
    pids_limit: 1024
    mem_limit: 1g
    ports:
      - '5050:5050'
    volumes:
      - ./seccomp.yaml:/seccomp.yaml
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-size: '50m'
